<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p class="footer">
      powered by <a href="https://openlibrary.org/dev/docs/api/covers">covers.openlibrary.org</a> 
      <br>
      Copyright © <%= new Date().getFullYear() %> johnjun97. All rights reserved
    </p>
  </body>
</html>